.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
}

.about .image {
   
    flex: 1 1 40rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    flex: 1 1 40rem;
}

.about .content span {
    color: #276caf;
    font-size: 30px;
}
.about .content h3 {
    color: #222;
    font-size: 40px;
    padding-top: 0.5rem;
}
.about .content p {
    color: #666;
    font-size: 20px;
    line-height: 2;
    padding: 1rem 0;
}
