<div class="container">
    <!-- <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="slide">
            <img src="https://via.placeholder.com/600/92c952" alt="img 1">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="https://via.placeholder.com/600/771796" alt="img 2">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="https://via.placeholder.com/600/24f355" alt="img 3">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="https://via.placeholder.com/600/d32776" alt="img 4">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="https://via.placeholder.com/600/f66b97" alt="img 5">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="https://via.placeholder.com/600/56a8c2" alt="img 6">
          </div>
        </ng-template>
      </owl-carousel-o> -->
      <div class="row about">
        <div class="col-sm-6">
            <div class="image">
                <img src="../../assets/images/about-img.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="content">
                <span>welcome to our shop</span>
                <h3>fresh and organic groceries</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae vel sequi nostrum quae nobis non quaerat nisi voluptatibus recusandae reprehenderit tempore eligendi, eum quibusdam perferendis dicta, incidunt dolores nemo ex.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem cumque molestiae blanditiis deleniti aspernatur, ab tempora quisquam sapiente commodi hic.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>
      </div>
      <div class="row about">
        <div class="col-sm-6">
            <div class="content">
                <span>welcome to our shop</span>
                <h3>fresh and organic groceries</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae vel sequi nostrum quae nobis non quaerat nisi voluptatibus recusandae reprehenderit tempore eligendi, eum quibusdam perferendis dicta, incidunt dolores nemo ex.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem cumque molestiae blanditiis deleniti aspernatur, ab tempora quisquam sapiente commodi hic.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="image">
                <img src="../../assets/images/about-img.jpg" alt="">
            </div>
        </div>
      </div>
</div>
